<!DOCTYPE html>
<html lang="ru">
  <head>
      <title>Tatiana Korobova</title>
      <meta charset="UTF-8">
      <meta name="format-detection" content="telephone=no">
      <link rel="stylesheet" href="styles/style.css">
      <!-- <link rel="shortcut icon" href="favicon.ico"> -->
      <!-- <meta name="robots" content="noindex, nofollow" /> -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  </head>
  <body>
    <h1 class="main title visually-hidden">Коробова Татьяна - Коротко обо мне </h1>
    {% include 'pages/header.twig' %}

    <main class="main">
      <ul class="main__wrapper container">
        <section class="pictures" itemscope itemtype = "http://schema.org/Person">
          <h2 class="pictures__title title">Фотографии</h2>
          <div class="pictures__list">
            <a href="./assets/images/myPhotos/expectation-big.jpg" target="_blank" class="picture__expectation">
              <p class="picture__about">Как мои друзья представляют работу программистов:</p>
              <img src="assets/images/myPhotos/expectation-small.jpg" itemprop="image" alt="Как мои друзья представляют работу программистов" width="328" height="246">
            </a>
            <a href="./assets/images/myPhotos/reality-big.jpg" target="_blank" class="picture__reality">
              <p class="picture__about">Как её представляю я:</p>
              <img src="assets/images/myPhotos/reality-small.jpg" itemprop="image" alt="Как я представляю работу программистов" width="328" height="246">
            </a>
          </div>
          <a class="CV" href="assets/CV.pdf" target="_blank" itemprop="url">Резюме</a>
        </section>
        <section class="about" itemscope itemtype = "http://schema.org/Person">
          <h2 class="about__title title">Обо мне</h2>
          <p class="about__content">Всем привет! Меня зовут <span itemprop="additionalName">Таня</span> и совсем еще недавно я писала свое первое "Hello, world" в html-документе. </p>
          <p class="about__content">Расскажу немножко о себе. По образованию я <span itemprop="hasOccupation">финансист и логист</span>. Но, проработав 1,5 года в сфере экономики, смело могу заявить: "Мне не понравилось".</p>
          <p class="about__content">На данный момент я работаю <span itemprop="jobTitle">кондитером (это мое хобби)</span>, но посвящаю все свое свободное время обучению веб-разработки.</p>
          <p class="about__content">Почему именно веб-разработка? Мне всю жизнь нравились точные науки. И, решив "просто попробовать", я практически сразу поняла, что загорелась этим. </p>
          <p class="about__content additional">Знаете это чувство, когда ты пишешь код и что-то не срабатывает...?Ты не понимаешь в чем дело, тебя это бесит и заряжает одновременно, и ты не спишь до 5 утра, потому что пытаешься разобраться. 
          Так вот, да, я в числе этих людей. А потом, разобравшись, идешь спать с чувством, как-будто ты спас мир. Забавно? Но так и есть. </p>
          <p class="about__content">И еще немножко о моих хобби:</p>
          <div class="about__hobby">
            <img src="assets/images/hobby-icons/volleyball.svg" alt="Хобби - воллейбол" width="40" height="40">
            <img src="assets/images/hobby-icons/running-girl.svg" alt="Хобби - бег" width="45" height="45">
            <img src="assets/images/hobby-icons/сupcake_icon.svg" alt="Хобби - кондитерское искусство" width="60" height="60">
            <img src="assets/images/hobby-icons/travel.svg" alt="Хобби - путешествия" width="40" height="40">
          </div> 
        </section>


        <section class="movies" itemscope itemtype = "http://schema.org/Movie">
          <h2 class="movies__title title">Любимые фильмы</h2>

          {% set movies = [
              { name: 'Интерстеллар', link: 'https://www.kinopoisk.ru/film/258687/', img: 'https://www.kinopoisk.ru/images/film_big/258687.jpg'},
              { name: 'Джокер', link: 'https://www.kinopoisk.ru/film/1048334/', img: 'https://www.kinopoisk.ru/images/film_big/1048334.jpg'},
              { name: 'Список Шиндлера', link: 'https://www.kinopoisk.ru/film/329/', img: 'https://www.kinopoisk.ru/images/film_big/329.jpg'},
              { name: 'Эффект бабочки', link: 'https://www.kinopoisk.ru/film/5167/'},
          ] %}

          <ul class="movies__items items">
            {% for movie in movies %}
              <li class="movies__item items__item">
                <a class = "movies__link items__link" href="{{ movie.link }}" target="_blank" itemprop="url">
                    {% if movie.img %}
                    <img class = "movies__poster items__poster" src="{{ movie.img }}" itemprop="image" alt="Постер фильма" width="70" height="auto">
                    {% else %}
                    <img class = "movies__poster items__poster" src="assets/images/movies/noPoster.png" itemprop="image" alt="Постер отсутствует" width="70" height="auto">
                    {% endif %}
                    <div class="movies__name itemprop="name">{{ movie.name}}</div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>

        <section class="music" itemscope itemtype = "http://schema.org/MusicGroup">
          <h2 class="music-title title">Любимая музыка</h2>

          {% set music = [
            { name: 'Lewis Capaldi', link: 'https://www.youtube.com/channel/UCveFkLdSOUsGwMJEgedO9dQ', img: 'https://yt3.ggpht.com/a/AGF-l7-ZTZk43biu7z-ZsbEKNW-vO1vsCXi1K9-L=s288-c-k-c0xffffffff-no-rj-mo'},
            { name: 'Lana Del Rey', link: 'https://www.youtube.com/user/LanaDelRey', img: 'https://yt3.ggpht.com/a/AGF-l79PWhsAAc9KE4-9WPfkPUgi6aUCWOY-b6Ypug=s288-c-k-c0xffffffff-no-rj-mo'},
            { name: 'Imagine Dragons', link: 'https://www.youtube.com/user/ImagineDragons', img: 'https://yt3.ggpht.com/a/AGF-l78GcdN9jIl7b9GIgC9FUTjzLEbDSZhIj1FEjQ=s288-c-k-c0xffffffff-no-rj-mo'},
            { name: 'Ludovico Einaudi', link: 'https://www.youtube.com/channel/UCQxsahIsaO7_nDwVlFRMQiA', img: 'https://yt3.ggpht.com/a/AGF-l78t4XSFmx1yrW5NLPI9Iso2JxO1zQbACeTAaw=s288-c-k-c0xffffffff-no-rj-mo'},
          ] %}
              
          <ul class="music__items items">
            {% for singer in music %}
              <li class="music__item items__item">
                <a class = "music__link items__link" href="{{ singer.link }}" target="_blank" itemprop="url">
                    {% if singer.img %}
                    <img class = "music__poster items__poster" src="{{ singer.img }}" width="70" height="auto" itemprop="image" alt="Фотография группы">
                    {% endif %}
                    <div class="movies__name itemprop="name">{{ singer.name}}</div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>
      </div>
    </main>

  </body>
</html>
